<h1>About</h1>
<p>
This app was built on <%= link_to "Skillshare", "http://www.skillshare.com/classes/technology/Make-the-Internet-Your-First-Web-App-with-Ruby-on-Rails/2136222497/project-guide?refId=5086316&utm_campaign=teacher-referral&utm_source=ShortUrl&utm_medium=teacher-referral" %>. 
</p>
